.content {
  &__text {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 54px 0 60px;
    padding: 0 34px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;
      padding: 0 112px;
      margin-bottom: 74px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 97px 0;
      padding: 0 162px;
    }

    &--appeal {
      margin: 29px 22px 52px;

      @media (min-width: $desktop-width) {
        padding: 0 277px;
        margin-top: 67px;
      }
    }

    &--form {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
  }
}
