.content {
  &__text {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 54px 20px 0;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;
      padding: 0 112px;
    }

    &--form {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}
