.contest-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 85px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 85px 0 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__name-user {
    padding: 55px 20px 0;

    @media (min-width: $tablet-width) {
      padding: 0;
      margin-right: 27px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__personal {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      margin: 41px 60px;
      flex-grow: 1;
    }
  }

  &__personal-information {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 56px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 38px;
    }
  }

  &__form-label {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $pink;
    display: block;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }

    &--location {
      @media (min-width: $tablet-width) {
        order: 3;
        margin: 5px 0 0 20px;
      }
    }
  }

  &__field {
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid $e5;
    padding: 16px 0 16px 20px;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
    }

    &--location {
      @media (min-width: $tablet-width) {
        order: 1;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &__box-icon {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      &::before {
        content: "";
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        right: 0;
        width: 61px;
        height: 61px;
        background-color: $e5;
      }

      &--phone::before {
        background-image: url("../img/tablet/main/phone-icon-form.svg");
        background-position: 50% 50%;
      }

      &--mail::before {
        background-image: url("../img/tablet/main/mail-icon-form.svg");
        background-position: 50% 50%;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      order: 6;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }

  &__button {
    background-color: $green;
    color: $fff;
    padding: 23px 45px;
    font-weight: $font-bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 52px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &__text {
    margin-top: 46px;
    text-align: center;
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &__symbol {
    color: $pink;
  }

  &__row {
    background-color: $lightgrey;
    padding: 0 20px 45px;
    margin: 9px 0 44px;
    display: flex;
    flex-direction: column;
    border: none;

    @media (min-width: $tablet-width) {
      order: 4;
      background-color: $fff;
      border: 2px solid  #e5e5e5;
      border-radius: 1px;
      padding: 23px 60px 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      &--flex-container {
        display: flex;
        flex-direction: row;
        margin: 64px 0;
      }
    }

    &--location {
      @media (min-width: $tablet-width) {
        order: 1;
        margin-top: 63px;
      }

      @media (min-width: $desktop-width) {
        margin-top: 0;
      }
    }
  }

  &__title {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
    text-align: center;
    padding-top: 15px;
    transform: translateY(100%);

    @media (min-width: $tablet-width) {
      transform: none;
      padding: 0 14px;
    }

    &--contacts {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  &__list {
    &--part1 {
      margin-top: 60px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 13px;
    }

    @media (min-width: $desktop-width) {
      &--part1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 25px;
      }
    }

    &--location {
      margin-top: 54px;

      @media (min-width: $tablet-width) {
        margin-top: 12px;
      }

      @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: 100%;
      }
    }
  }

  &__item {
    padding-top: 10px;
    padding-bottom: 13px;
  }

  &__contacts-user {
    margin-top: 49px;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      order: 3;
      margin-top: 0;
      padding: 0;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 44px 0 0;
    }

    &--location {
      @media (min-width: $tablet-width) {
        border: 2px solid $darkgrey;
      }
    }
  }

  &__apps {
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
    padding-left: 75px;
    position: relative;

    @media (min-width: $tablet-width) {
      padding-left: 65px;
    }
  }

  &__feeling-title {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
    text-align: center;
  }

  &__feeling-group {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      order: 4;
      display: flex;
      justify-content: center;
      border: 2px solid #e5e5e5;
      border-radius: 1px;
      padding: 47px 60px 53px;

      @media (min-width: $desktop-width) {
        width: 940px;
      }
    }
  }

  &__feeling-text {
    border: 2px solid #e5e5e5;
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
    padding: 22px 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
  }
}
