.contest-form {
  &__name-user {
    padding: 55px 20px 0;
  }

  &__form-label {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $pink;
    display: block;
  }

  &__field {
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    padding: 23px 78px 23px 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__button {
    background-color: #2aab6d;
    color: #ffffff;
    padding: 23px 45px;
    font-weight: $font-bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 52px;
  }

  &__text {
    margin-top: 46px;
    text-align: center;
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__symbol {
    color: $pink;
  }

  &__row {
    background-color: $lightgrey;
    padding: 23px 20px 50px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
    padding-top: 93px;
    text-align: center;
  }

  &__item {
    padding-top: 10px;
  }

  &__contacts-user {
    margin-top: 49px;
    padding: 0 20px;
  }

  &__apps {
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
  }

  &__feeling-title {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $pink;
    text-align: center;
  }

  &__feeling-group {
    padding: 0 20px;
  }

  &__feeling-text {
    border: 2px solid #e5e5e5;
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
    padding: 22px 20px;
    width: 276px;
  }
}
