.main-nav {
  &__link {
    font-family: $font-face;
    line-height: 32px;
    font-weight: $font-bold;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__wrapper {
    display: none;
  }

  &__toggle {
  fill: #ffffff;
  }
}

