.main-nav {
  grid-column: span 2;

  &--closed {
    visibility: hidden;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
    padding-right: 130px;
  }

  &__link {
    font-family: $font-face;
    line-height: 32px;
    font-weight: $font-bold;
    text-align: center;
    color: $fff;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      font-weight: 400;
      line-height: 18px;
      text-transform: capitalize;
    }
  }

  &__link--html {
    @media (min-width: $desktop-width) {
      padding: 0;
      text-transform: uppercase;
    }
  }

  &__menu {
    &:hover {
      fill: $pink;
    }

    &:active {
      opacity: 30%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: $darkgrey;
    align-items: stretch;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 20px;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      grid-column: auto;
      position: relative;
      background-color: transparent;
    }
  }

  &__item {
    text-align: center;
    border-top: 1px solid #374a5c;
    border-bottom: 1px solid $black;
    padding: 8px 0;

    @media (min-width: $desktop-width) {
      border-top: none;
      border-bottom: none;
      padding-left: 20px;
    }
  }

  &__toggle {
    fill: $fff;
    justify-self: end;
    cursor: pointer;
    border-radius: 0;

    &--opened {
      background-image: url("../img/mobile/header/close-menu-btn.svg");
      width: 23px;
      height: 23px;
    }

    &--closed {
      background-image: url("../img/mobile/header/open-menu-button.svg");
      width: 50px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
