.main-nav {
  &__link {
    font-family: $font-face;
    line-height: 32px;
    font-weight: $font-bold;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;

    @media (min-width: $desktop-width) {
      font-weight: 400;
      line-height: 18px;
      text-transform: capitalize;
    }
  }

  &__link--html {
    @media (min-width: $desktop-width) {
      padding: 0;
      text-transform: uppercase;
    }
  }

  &__toggle {
    fill: #ffffff;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__wrapper {
    display: none;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

