.offer {
  text-align: center;

  &__wrapper {
    background-color: $lightgrey;
  }

  &__container-title {
    padding-top: 11px;
    padding-bottom: 30px;
    background-color: #ffffff;
  }

  &__title {
    font-weight: $font-light;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 0 20px;
    margin-top: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 40px;
      line-height: 55px;
      padding: 0 24px;
    }
  }

  &__title-column {
    @media (min-width: $tablet-width) {
      padding: 0 66px;
    }
  }

  &__subtitle {
    font-weight: $font-bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
  }

  &__list {
    padding: 23px 0 70px 0;
  }

  &__item {
    margin: 43px;
  }

  &__image-container {
    position: relative;

    /*&::before {
      content: "";
      background-image: url("../img/mobile/main/iphone.png");
      background-repeat: no-repeat;
      position: absolute;
      bottom: 55px;
      right: 44%;
      width: 157px;
      height: 320px;
      z-index: 1;
    }*/
  }

  &__image-content {
    z-index: 2;
  }
}
