.offer {
  text-align: center;

  &__container-title {
    padding-top: 11px;
    background-color: $fff;
  }

  &__title {
    font-weight: $font-light;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 0 20px;
    margin-top: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 40px;
      line-height: 55px;
      padding: 0 24px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
      line-height: 68px;
    }
  }

  &__title-column {
    @media (min-width: $tablet-width) {
      padding: 0 66px;
    }
  }

  &__subtitle {
    font-weight: $font-bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;

    @media (min-width: $desktop-width) {
      padding: 0 37px;
    }
  }

  &__description {
    @media (min-width: $desktop-width) {
      margin: 0 17px;
    }
  }

  &__container-content {
    background-image: url("../img/mobile/main/grey-background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 62px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/tablet/main/grey-background.png");
      display: flex;
      justify-content: space-between;
      padding-top: 62px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/desktop/main/grey-background.png");
      padding: 0 252px;
      display: flex;
      flex-direction: column;
      padding-top: 62px;
    }
  }

  &__list {
    padding: 23px 20px 0 27px;

    @media (min-width: $tablet-width) {
      width: 349px;
      order: 2;
      text-align: left;
      padding-top: 60px;
      flex-grow: 1;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0;
      text-align: center;
    }
  }

  &__item {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $tablet-width) {
      margin: 23px 0 0 0;
    }
  }

  &__wrapper-image {
    @media (min-width: $desktop-width) {
      display: flex;
      height: 382px;
      justify-content: center;
    }
  }

  &__image-box {
    order: 1;
    background-image: url("../img/mobile/main/iphone.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: block;
    padding: 38px 10px 0 10px;
    background-size: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/mobile/main/iphone-retina.png");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    &--mobile {
      margin-top: 25px;
    }
  }

  &__content-image {
    &--desktop {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }
  }

  &__image-tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
