.page-header {
  color: #ffffff;
  background-color: #1d2631;
  position: relative;

  &__container-image {
    border: 3px solid #f84e4e;
    width: 286px;
    height: 320px;
    margin: -3px;
    position: absolute;
    bottom: 281px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 0;
      left: 79%;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    //background-image: url("../img/mobile/header/back-mobile.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    border: 3px solid #f34d4d;
    margin: -3px;
    position: relative;

    /* @media (min-width: $tablet-width) {
      background-image: url("../img/tablet/header/back tablet.png");
      height: 729px;
    }

    &::before {
      content: "";
      background-image: url("../img/mobile/header/screen.png");
      background-position: 50% 0;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 57px;
      right: 0;
      left: 0;
      height: 197px;
      z-index: 0;

      @media (min-width: $tablet-width) {
        content: "";
        background-image: url("../img/tablet/header/screen.png");
        height: 346px;
        background-position: 100% 0;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 146px;
        right: 95px;
      }
    }

    &::after {
      content: "";
      background-image: url("../img/mobile/header/phone.png");
      background-position: 50% 0;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 286px;
      z-index: 1;

      @media (min-width: $tablet-width) {
        content: "";
        background-image: url("../img/tablet/header/phone.png");
        height: 545px;
        background-position: 100% 0;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }*/
  }

  &__container-nav {
    border: 3px solid #95db23;
    margin: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 29px;
  }

  &__logo-text {
    vertical-align: bottom;
  }

  @media (min-width: $tablet-width) {
    &__logo {
      padding-left: 71px;
    }
  }

  &__container-content {
    border: 3px solid #ff2fba;
    margin: -3px;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      max-width: 300px;
    }
  }

  &__container-download {
    border: 3px solid #2b8ac9;
    margin: -3px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 28px 0 38px 0;
    text-align: center;
    z-index: 3;
  }

  &__title {
    font-weight: $font-light;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 348px;
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &__button {
    color: #ffffff;
    border: 3px solid #ffffff;
    margin: -3px;
    padding: 14px 0;

  }

  &__platform {
    padding: 38px 0 31px 0;
  }

  &__platform-image {
    margin: 0 17px;
  }

  &__text {
    color: #ffffff;
  }
}
