.post {
  &__form-editor {
    background-color: $lightgrey;
    padding: 30px 20px 41px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 40px 20px;
    }
  }

  &__text {
    line-height: 30px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    border-top: 2px solid;
    border-top-color: rgba(42, 43, 44, 0.3);
    margin-top: 10px;
    padding-top: 15px;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__button-reset {
    margin-top: 15px;
    display: block;
    border-radius: 30px;
    border: 3px solid rgba(42, 43, 44, 0.3);
    color: $darkgrey;
    opacity: 30%;
    text-align: center;
    padding: 12px 0;

    @media (min-width: $desktop-width) {
      margin-top: 0;
      padding: 0 55px;
    }
  }
}
