.price {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }

  &__title-invisible {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
    }
  }

  &__availability-invisible {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
    }
  }

  &__availability {
    text-align: center;
  }

  &__title {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: $darkgrey;

    &-row {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    &__table {
      width: 100%;
    }

    &__title--empty-cell {
      background-color: transparent;
    }
  }

  &__toggles {
    text-align: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
