.price {
  &__title-invisible {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
    }
  }

  &__availability-invisible {
    display: none;

    @media (min-width: $tablet-width) {
      display: table-cell;
    }
  }

  &__availability {
    text-align: center;
  }

  &__title {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: $darkgrey;
  }

  @media (min-width: $tablet-width) {
    &__table {
      width: 100%;
      padding: 0 15px;
    }

    &__title--empty-cell {
      background-color: transparent;
    }
  }
}
