.wall {
  margin: 0 20px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &__number-likee {
    display: flex;
    flex-direction: row;
  }

  &__button-nike {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: stretch;
      justify-items: stretch;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      align-items: stretch;
      justify-items: stretch;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    &--row {
      @media (min-width: $tablet-width) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      @media (min-width: $desktop-width) {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
  }

  &__content {
    background-color: $lightgrey;
    padding: 17px;
  }

  &__container {
    display: flex;
  }

  &__time {
    font-weight: $font-light;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__button-descr {
    font-weight: $font-normal;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $pink;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
    }
  }

  &__button-likee {
    fill: $pink;
    padding-right: 10px;
  }
}
