.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
}

.copyright__text {
  line-height: 18px;
}

.page-footer__copyright {
  display: flex;
}
