.form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  display: block;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  padding: 23px 78px 23px 20px;
}

.name-user {
  padding: 55px 0;
}

.filter__row {
  background-color: #f2f2f2;
}

.filter__item {
  padding-top: 10px;
}

.filter__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}

.contacts__group {
  padding: 44px 0;
}

.feeling__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}

.feeling__text {
  border: 2px solid #e5e5e5;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 22px 20px;
}

.contest__button {
  background-color: #2aab6d;
  color: #ffffff;
  padding: 23px 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__symbol {
  color: #d22856;
}
