.page-header {
  color: #ffffff;
  background: #1d2631;
  background-image: url("../img/mobile/header/back-mobile.png");
  background-repeat: no-repeat;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

.invite__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.invite__button {
  color: #ffffff;
  border: 3px solid #ffffff;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

