@import "form.scss";
@import "catalog.scss";

.offer__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.offer__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.price__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.description {
  background-color: #283645;
}

.description__plan {
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.description__price {
  text-align: center;
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.contacts__subtitle {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
