.page-header {
  color: #ffffff;
  background: #1d2631;
  background-image: url("../img/mobile/header/back-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}
