.reviews {
  &__author-name {
    font-style: normal;
    font-weight: $font-bold;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }

  &__text {
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 30px;
  }
}
